@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  --animate-loading: loading 2000ms ease-in-out infinite;

  @keyframes loading {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 100%;
      left: 100%;
    }
  }
}
